*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: red;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
p{
    color: white;
}
